body {
    color: white;
    background-color: #333;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    margin:    0 auto;
    max-width: 100ch;
}

#avatarCorner {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: hidden;
    padding-left: 40px;
    z-index: -1;
}

#avatar {
    transition: transform 1s;
    transform: translateX(-10px) translateY(25px) rotate(350deg);
}

#avatarCorner:hover > #avatar {
    transform: translateX(200px) translateY(25px) rotate(360deg);
}

a, a:hover, a:link, a:visited {
    color: #00b3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Horizontal scroll on mobile devices */
nav {
    width: 100%;
    text-align: center;
    overflow:scroll;
    white-space: nowrap;
    /* Hide the scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav::-webkit-scrollbar {
    display: none;
}

nav h1, nav p, nav a {
    font-size: 1.5em;
    display: inline-block;
}

nav h1 {
    margin-right: 3vw;
}

nav a {
    margin-right: 1.5vw;
}

footer {
    margin-top: 10px;
    text-align: center;
}
